@*@page
@model WebApplication12_Razor.Pages.BookList.UpsertModel
@{
    var title = Model.Book.Id == 0 ? "New Book" : "Edit Book";
}
<h2 class="text-primary text-center"></h2>
<br />
<br />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if(Model.Book.Id=0)
            {
                <input type="hidden" asp-for="@Model.Book.Id" />
            }


</form>*@